.container {
  padding: 33px;
}

.box {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tab {
  color: #ffffff !important;

  &[aria-selected="true"] {
    color: #e08760 !important;
  }
}

.separator {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}
