.container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.form,
.drop {
  width: calc(50% - 10px);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 14px !important;

  .label {
    font-family: Arial;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
  }

  .editor {
    font-size: 20px;
    font-weight: 500;
  }
}
