.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: rgba(255, 255, 255, 0.2);
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backLink {
  font-family: Arial;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    transform: rotate(90deg);
  }
}
