.container {
  padding: 33px;
}

.box {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

.form {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.submitButton {
  width: 200px !important;
}

