.container {
  width: 100%;
  padding: 15px;
  border: 1px solid #767676;
  min-height: 550px;
  max-height: 700px;
}

.image {
  width: 100%;
  aspect-ratio: 2/1.2;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-size: 26px;
  font-family: Arial;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 40px;
  transition: color 0.2s;
  &:hover {
    color: #e08760;
  }
}

.descr {
  font-size: 20px;
  font-family: Arial;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.button {
  border: 1px solid #fff;
  font-size: 16px;
  font-family: Arial;
  color: #ffffff;
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    color: #e08760;
    border-color: #e08760;
  }

  &:active {
    background-color: #e08760;
    border-color: #000;
    color: #000;
  }
}
