.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 40px;
  background-color: #4e4e4e;
  z-index: 100;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
}