.container {
  position: relative;
}

.input {
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  padding: 20px;
  width: 100%;

  &,
  &::placeholder {
    font-family: Arial;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}