.button {
  top: 22px;
  left: 32px;
  width: 100px;
  height: 100px;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  position: absolute;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.menu {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  bottom: 0;
  width: 940px;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 115px;
}

.account {
  color: #fff;
  position: absolute;
  top: 35px;
  left: 760px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tab {
  color: #ffffff !important;

  &[aria-selected="true"] {
    color: #e08760 !important;
  }
}

.tabPanel {
  padding-top: 200px;
  height: 100%;
}
